html {
  background: #9ccff7;
}
.wrapper {
  background-image: url('images/original-bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 960px;
  height: 662px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: block;
  width: 720px;
  height: 70px;
  text-indent: -9999px;
  background-image: url('images/title.svg');
  background-size: 100% auto;
  position: absolute;
  left: 130px;
  top: 24px;
  margin: 0;
  padding: 0;
}

.animation {
  display: block;
  background-repeat: no-repeat;
  position: absolute;
}

.inch-worm {
  background-image: url('images/inch-worm.svg');
  background-size: 100% auto;
  width: 129px;
  height: 60px;
  -webkit-animation: inch_worm 0.65s steps(11) infinite;
}
.worm1 {
  -webkit-animation-delay: 0s;
  left: 0;
  top: 217px;
}
.worm2 {
  -webkit-animation-delay: 0.2s;
  top: 202px;
  right: 191px;
}
.worm3 {
  -webkit-animation-delay: 0.4s;
  left: 2px;
  bottom: 16px;
}
.worm4 {
  -webkit-animation-delay: 0.3s;
  bottom: 16px;
  left: 210px;
}
@-webkit-keyframes inch_worm {
  0%    { background-position: 100% 0; }
  100%  { background-position: 100% -727px; }
}

.mouth {
  background-image: url('images/mouth.svg');
  background-size: 1685px auto;
  width: 164px;
  height: 175px;
  -webkit-animation: mouth 0.65s steps(9) infinite;
}
.mouth1 {
  top: 275px;
  left: 139px;
}
.mouth2 {
  top: 262px;
  right: 10px;
  -webkit-animation-delay: 0.2s;
}
@-webkit-keyframes mouth {
  0%    { background-position: 0 100%; }
  100%  { background-position: -1716px 100%; }
}

.bell {
  background-image: url('images/bell.svg');
  background-size: auto 100%;
  width: 76px;
  height: 112px;
  -webkit-animation: bell 0.25s steps(4) infinite;
}
.bell1 {
  bottom: 65px;
  left: 98px;
}
.bell2 {
  top: 300px;
  right: 225px;
  transform: scale(1.25);
}
@-webkit-keyframes bell {
  0%    { background-position: 0 100%; }
  100%  { background-position: -406px 100%; }
}

.toaster {
  background-image: url('images/toaster.svg');
  background-size: auto 100%;
  width: 46px;
  height: 40px;
  -webkit-animation: toaster 0.4s steps(8) infinite;
}
.toaster1 {
  top: 202px;
  left: 200px;
  transform: scale(2.2);
}
.toaster2 {
  right: 80px;
  top: 161px;
  transform: scale(2.3);
}
.toaster3 {
  left: 58px;
  top: 390px;
  transform: scale(3.6);
}
.toaster4 {
  bottom: 121px;
  right: 220px;
  transform: scale(4.5);
}
@-webkit-keyframes toaster {
  0%    { background-position: 0 100%; }
  100%  { background-position: -405px 100%; }
}
